[submodule "third-party/ROMP"]
	path = third-party/ROMP
	url = https://github.com/Arthur151/ROMP
	ignore = dirty
[submodule "third-party/ViTPose"]
	path = third-party/ViTPose
	url = https://github.com/ViTAE-Transformer/ViTPose.git
	ignore = dirty
[submodule "third-party/imar_vision_datasets_tools"]
	path = third-party/imar_vision_datasets_tools
	url = https://github.com/sminchisescu-research/imar_vision_datasets_tools.git
	ignore = dirty
